*{
  color: black;
  //text-decoration: none;
}

body {
  display: flex;
  justify-content: start;
  //height: 100vh;
  --main-nav-color: rgba(22, 33, 44, 0.74);
  --secondary-nav-color: rgba(255, 127, 80, 0.8);
  --semi-transparent-nav-color: rgba(255, 127, 80, 0.4);
  flex-direction: column;
  align-items: center;
  font-family: Trebuchet MS;
  margin: 5px;
  padding: 0px;
  height: 100%;
  //background-color: rgb(63, 206, 241);
  //background-image: linear-gradient(to top right, rgb(194, 240, 255), rgb(0, 184, 190));
  //background: url(fan_coral_1600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //height: 100%;
} 

h1 {
  margin-block-start: 0.4em;
  margin-block-end: 0;
}
.text_link{
  text-decoration: none;
}

.text_link:hover {
  color: var(--secondary-nav-color);
}
.navbar{
  display: flex;
  flex-direction: row;
  border-bottom: solid var(--secondary-nav-color) 8px;
  background-image: linear-gradient(to top right, white,black);
}

.nav-item {
  color: white;
  background-color: var(--main-nav-color);
  text-decoration: none;
  padding: 15px;
  padding-top: 25px;
  font-size: 1.1em;
  border-right: solid white 1px;
  width: 20vw;
  text-align: center;
}

.nav-item:hover {
  //background-color: rgb(94, 0, 0);
  opacity: 0.9;
}

.nav-item-empty {
  color: white;
  background-color: var(--main-nav-color);
  text-decoration: none;
  padding: 15px;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  border-right: solid white 1px;
}

.form_input {
  padding: 0px;
  margin-bottom: 20px;
  //color: var(--main-nav-color);
}

.links {
  font-size: 1em;
  border-color: var(--main-nav-color);
  color: var(--main-nav-color);
  border-radius: 1px;
  border: solid 2px;
  padding: 10px;
}

.links:hover {
  color: white;
  background-color: var(--main-nav-color);
  border-color: var(--main-nav-color);
}

.user-links {
  color: white;
  text-decoration: none;
}

.user-links:hover {
  color: var(--secondary-nav-color)
}

.list {
width: 200px;
padding: 10px;
background-color: lightgrey;
margin: 5px;
border-radius: 10px;
//background-image: linear-gradient(to top left, rgb(66, 66, 66),rgba(228, 228, 228, 0.726));
}

.user-form-input {
  padding: 0px;
  margin-bottom: 20px;
  color: var(--main-nav-color);
  font-size: 1.3em;
  background-color: white !important;
  text-align: center;
}

#logo{  
  margin-block-start: 0;
  margin-block-end: 0;
}
#logo-container{
  padding-top: 15px;
  width: 25%
}

#user-sign-in {
  padding: 15px;
}

#lists-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#board-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
  // background-image: linear-gradient(to top right, rgb(250, 173, 121),rgb(255, 239, 215));
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
}

#board-title-container{
  display: flex;
  flex-direction:row;
  justify-items: center;
  align-items: center;
}

#task-card{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  border: solid var(--main-nav-color) 3px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0 5px 0;
  background-color: white;
}

#task-card:hover{
  // background-color: var(--main-nav-color);
  //border-color: var(--secondaryu-nav-color);
  box-shadow: 0px 0px 3px 5px var(--semi-transparent-nav-color); 
}

#task-text-area {
  width: 400px; 
  height: 120px; 
  font-size: 1em; 
  color: var(--main-nav-color);
  outline-width: 8px; 
  outline-color: var(--semi-transparent-nav-color); 
  //box-shadow: 0px 0px 0px 5px var(--semi-transparent-nav-color);
}

input[type=number] {
  border: none;
  border-bottom: solid black 1px;
  font-size: 1em;
  color: var(--main-nav-color);  
}

input[type=text] {
  border: none;
  //border-bottom: solid black 1px;
  font-size: 1em;
  //color: var(--main-nav-color);
}

input[type=textarea]{
border: none;
font-size: 1em;
//color: var(--main-nav-color);
}

input[type=submit] {
  font-size: 1em;
  border-color: var(--main-nav-color);
  color: var(--main-nav-color);
  border-radius: 1px;
  border: solid 2px;
  width: 200px;
}

input[type=submit]:hover {
  color: white;
  background-color: var(--main-nav-color);
  border-color: var(--main-nav-color);
  box-shadow: 0px 0px 0px 5px var(--semi-transparent-nav-color); 
}

input:focus {
  outline: 2px solid var(--semi-transparent-nav-color);
  box-shadow: 0px 0px 0px 4px var(--secondary-nav-color);
  border-radius: 1px;
}

select {
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 1em;
}

select:focus {
  outline: 2px solid var(--semi-transparent-nav-color);
  box-shadow: 0px 0px 0px 5px var(--semi-transparent-nav-color); 
  border-radius: 10px;
}


